@model TaskItemDto
@{
    ViewData["Title"] = $"Update Task {Model.Name}";
}

<form asp-controller="Task" asp-action="Update" method="POST" onsubmit="return confirm('Are you sure you want to update this task?');">
    <input asp-for="Id" hidden />
    <input asp-for="UserId" hidden />
    <div class="pt-4">
        <div class="card container" style="border:1px solid #808080;">
            <div class="card-header text-dark row" style="border-radius: 0px;">
                <div class="row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;"> Name</label>
                    </div>
                    <div class="col-10 col-md-6">
                        <h1 class="text-dark">
                            <input asp-for="Name" class="form-control" type="text" placeholder="Name..." />
                            <span asp-validation-for="Name" class="text-danger" />
                        </h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;"> Description</label>
                    </div>
                    <div class="col-10 col-md-6 text-end">
                        <h5 class="text-dark">
                            <input asp-for="Description" class="form-control" type="text" placeholder="Description..." />
                            <span asp-validation-for="Description" class="text-danger" />
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="row pl-3">
                                <div class="col-12">
                                    <input asp-for="Content" class="text-secondary pt-3 form-control" type="text" placeholder="Content..." />
                                    <span asp-validation-for="Content" class="text-danger" />     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="row">
                <div class="col-3 offset-9 pb-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-square form-control">Back to Home</a>
                </div>
            </div>
            <div class="row">
                <div class="col-3 offset-9 pb-3">
                    <a asp-controller="Home" asp-action="TaskDetail" asp-route-taskId="@Model.Id" class="btn btn-outline-dark btn-square form-control">Back to Details</a>
                </div>
            </div>
            <div class="row">
                <div class="col-3 offset-9 pb-2">
                    <button type="submit" class="btn btn-success btn-square form-control">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
